{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<h2 class="py-4">Usuarios</h2>

<form class="d-flex py-5">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>


<table class="table">
  <thead><tr><th>ID</th><th>Username</th><th>Email</th><th>Rol</th><th></th></tr></thead>
  <tbody>
    {% for u in usuarios %}
      <tr>
        <td>{{ u.id }}</td>
        <td><a href="{% url 'catalog:usuario_detail' u.id %}">{{ u.username }}</a></td>
        <td>{{ u.email }}</td>
        <td>{{ u.rol }}</td>
        <td><a class="btn btn-sm btn-outline-primary" href="{% url 'catalog:usuario_detail' u.id %}">Ver</a></td>
      </tr>
    {% empty %}
      <tr><td colspan="5">No hay usuarios.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
